.article-hearder{
    background-color: darkblue;
    color: #fff;
    border: 3px solid transparent;
    text-align: center;
}

.section-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}